*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}
	
body{
	font-family: "Times New Roman", serif"sans-serif;
}
.containe {
	padding:3rem;
}
		
h1 {
	font-size:3rem;
	padding:2rem;
	text-aling: center;
	}
.image {
	display: block;
	widht: 100%;
}

.overlay {
	position-: absolute;
	top: 0;
	botton: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transsition: .5s ease;
	backgroun-color: rgba(255,255,255,0.9);		
}

.caption {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	trandform: translate(-50%, -50%);
	text-aling: center;
}
.thumbnail:hover  {
	transform: translatey(-4px);
}

.img-container:hover .overlay {
	opacity: 1;
}
	